[submodule "web"]
	path = web
	url = https://github.com/vise-maps/web.git
[submodule "windows"]
	path = windows
	url = https://github.com/vise-maps/windows.git
[submodule "macos"]
	path = macos
	url = https://github.com/vise-maps/macos.git
[submodule "ios"]
	path = ios
	url = https://github.com/vise-maps/ios.git
[submodule "android"]
	path = android
	url = https://github.com/vise-maps/android.git
